main{
    display: grid;  
    grid-template-areas:
    ". A A B B B ."
    ". A A C C C ."
    ". D D D D D .";
    grid-column-gap: 10px;
}
.prodcutimg{      
    grid-area: A;
    display: flex;
    justify-content: center;
    align-items: center;
}
.prodcutimg>img{
width: 360px;
border-radius: 25px;
}
.productinfo{
    text-align: center;
    background-color: gainsboro;
    border-radius: 25px;
    padding-top: 50px;
    font-size: 20px;
    grid-area: B;
}
.shoppingbtn{
    grid-area: C;
    text-align: center; 
    margin-top: 5px;
    background-color: gainsboro;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.productdetail_container{
    grid-area: D;
    margin-top: 20px;
    background-color: gainsboro;
    border-radius: 25px;
    text-align: center;  
    display: flex;
    justify-content: center;
    align-items: center;
}
.productdetail{
    width: 800px;
}
