.Container{
    display: grid;
    grid-template-columns: repeat(1fr);
    grid-gap: 2px;
    
}
.Search_Item_Container{
    margin-left: 10%;
    margin-right: 10%;
    background-color: gainsboro;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 4fr 1fr 10fr;
}
.img_container img{
    width: 200px;
    padding:10px;
}
.img_container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Item_name,.Item_Description{
    display: flex;
    align-items: center;
}
